.content {
	font-size: 36px;
	color: #454545;
	font-weight: bold;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px;
}

td {
	width: 20%;
}

tr.titles td {
	font-size: 22px;
}

td.incompleted-title {
	color: #D04437;
}

td.inprogress-title {
	color: #F7DE2E;
}

td.completed-title {
	color: #569515;
}

td.daysleft-title {
	color: #3F80C2;
}

tr.values td {
	font-size: 48px;
	border-radius: 30px 30px 30px 30px;
}

td.incompleted {
	font-weight: bold;
	background-color: #D04437;
	color: #FFFFFF;
}

td.inprogress {
	font-weight: bold;
	background-color: #F7DE2E;
	color: #000000;
}

td.completed {
	font-weight: bold;
	background-color: #569515;
	color: #FFFFFF;
}

td.daysleft {
	font-weight: bold;
	color: #FFFFFF;
}

td.positive {
	background-color: #3F80C2;
}

td.negative {
	background-color: #D04437;
}

.no-sprint-message {
	font-size: 60px;
	text-align: center;
	color: #454545;
	position: relative;
	top: -30px;
}