li {
  font-size: 24px;
  line-height: 24px;
  list-style: none outside none;
  padding: 5px;
  border-radius: 9px;
  margin-bottom: 10px;
  position: relative;
}

li div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li .page-summary{
  font-size:20px;
  color: #454545;
}
li .page-data {
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

li .page-data > * {
  -webkit-flex: 1 1 auto;
  white-space: nowrap;
}

li .page-title {
  font-weight: bold;
  padding-bottom: 9px;
  white-space: nowrap;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden; 
  min-width: 0px;
  text-align: right;
}

li .page-space {
  white-space: nowrap;
  font-size:18px;
  color: #454545;
}

li .avatar {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 15px;
  border-radius: 30px;
}

li a {
  color: inherit;
  font-style: inherit;
  text-decoration: none;
}

h3 {
  font-size: 35px;
}

.no-pages-message {
  font-size: 50px;
  text-align: center;
  color: #454545;
}

.smiley-face {
  font-size: 240px;
  text-align: center;
}

h2 a {
  color: #454545;
  text-decoration: none;
}

.embed-invisible {
  width: 0px;
  height: 0px;
}
